@import "tailwindcss";

@theme {
  --font-bevietnan: "Work Sans", sans-serif;
}

@layer components {
  .reset-all {
    all: unset;
  }

  .intro-artes img {
    @apply size-15;
  }
   
  .bnt-larg-agendar {
    @apply  
    bg-white text-red-500 w-50 h-10 rounded-full font-bold
      text-base my-4 shadow-lg shadow-white/30
    ;
  }

  .bnt-zap {
    @apply 
      flex justify-center items-center gap-2 h-10 w-[70%] 
      self-center bg-green-500 text-white rounded-full
      text-base my-4 shadow-lg shadow-green-500/30 font-bold 
    ;
  }

  .alinhamento {
    @apply flex flex-col items-center;
  }

  .img-introd {
    @apply 
      bg-[url(../img/boxer-destaque.jpg)] 
      bg-cover bg-center;
  }

  .menu {
    @apply 
     absolute top-[80px] bg-slate-950 w-[80vw] h-68 shadow-xl 
     left-1/2 -translate-x-1/2 flex flex-col justify-center 
     items-center font-bold text-white opacity-0 invisible

     lg:visible md:opacity-100 lg:w-110 lg:h-6 lg:shadow-none 
     lg:translate-x-0 lg:static sm:w-90  sm:h-60
    ;
  }

  .menu li {
    @apply 
     mt-[10px] mr-auto mb-[15px] ml-[40px]
     md:m-0
     ;
  }

  .menu button {
    @apply 
     active:text-orange-400 active:text-xl
     lg:hover:text-orange-400 hover:text-xl;
  }

  .menu span {
    @apply h-px w-[85%] bg-gray-700 block m-auto md:hidden;
  }
  /*margin: 10px auto 25px auto;*/


  .bnt-inscreva {
    @apply
     bg-white h-12 w-42 text-base rounded-sm  ml-4
     font-bold lg:hover:bg-yellow-400 lg:hover:text-white
     shadow-sm text-blue-950 shadow-white
     ;
  }

  /*icones artes marciais*/
  .intro-artes {
    @apply h-60  w-[90%] my-10;
  }

  .intro-artes div {
    @apply 
      grid grid-cols-[auto_1fr] grid-rows-2 
      gap-x-3
    ;
  }
  .intro-artes img {
    @apply size-15 col-end-2 row-span-full object-contain;
  }

  .intro-artes strong {
    @apply 
     font-bold text-yellow-400 text-xl col-start-2
    ;
  } 

  .intro-artes p {
    @apply 
     font-medium text-lg col-start-2 row-start-2 text-gray-500
    ; 
  } 
  /*sobre nos*/
  .about {
    @apply bg-gray-200 w-full px-5 pt-10;
  }

  .subtitulo-about {
    @apply self-start text-xl mt-5 mb-3 font-bold text-red-600;
  }

  .img-about {
    @apply 
     h-35 w-full rounded-sm
     bg-[url(../img/img-jiu-jitsu-destaque.jpg)]
     bg-cover
    ;
  }

  .bg-mestre {
    @apply 
     h-85 w-70 bg-[url(../img/IMG-mestre-fundo-cinza.png)]
     bg-contain bg-no-repeat 
    ;
  }

  .galaria-alunos {
    @apply 
    w-full h-55 my-5 overflow-x-auto flex gap-4 shadow-2xl;
    scrollbar-width: none;
  }
  
  .galaria-alunos img {
    @apply w-full h-full shrink-0 object-cover;
  }

  .dot {
    @apply 
      size-3  rounded-full border-1 border-red-500 
      cursor-pointer transition-colors block m-1
    ;
   }    

  .dot.active {
    @apply bg-blue-800;
  }

  .aula-free-an {
    @apply h-20 bg-yellow-500 text-white;
  }
  /*planos*/
  .planos {
    @apply w-full;
  }

  .card {
    @apply 
     w-[95%] rounded-xl my-5 p-5
     justify-center shadow-md bg-white border-1
    ;
  }

  .planos img {
    @apply size-15;
  }

   .planos strong {
    @apply font-bold text-yellow-500 text-xl;
  }

  .ciflao {
    @apply  text-gray-600 text-3xl;
  }

  .valor {
    @apply text-gray-950 text-3xl;
  }

  .bnt-comecar {
    @apply 
      bg-blue-500 text-white p-3 w-[80%] mt-3 rounded-2xl
      text-lg shadow-lg shadow-blue-500/50
    ;
  }
  .mais-pop {
    @apply 
    bg-amber-400 absolute text-black p-1 px-4 rounded-3xl
    top-[-15px] shadow-xl shadow-amber-300/20
    ;
  }

  .linha {
    @apply h-px w-[80%] block bg-gray-400 my-2;
  }

  .planos ul {
    @apply self-start ml-10;
  }

  .icon-corr {
    @apply flex gap-1;
  }

  .icon-corr img {
    @apply size-5;
  } 
  /*Contato*/
  .contato {
    @apply 
      grid grid-cols-[auto_1fr] grid-rows-2 text-sm gap-x-2 my-3;
  }
  .contato div {
    @apply 
      size-10 border-1 border-red-500 rounded-md
      col-end-2 row-span-full
    ;
  }

  .contato img {
    @apply size-[60%];
  }

  .contato strong {
    @apply text-white col-start-2 row-end-2 ;
  }

  .contato p {
    @apply col-start-2;
  }

  /*footer*/
  .footer-subtitulo {
    @apply  text-white font-bold pl-1 my-3;
  }
  .footer-list {
    @apply pl-1;
  }

  .list-social li {
    @apply 
     size-8 bg-gray-500 rounded-md flex justify-center 
     items-center;
  }

  .list-social img {
    @apply size-full;
  }

}