@import "tailwindcss";

@theme {
  --font-bevietnan: "Work Sans", sans-serif;
}

@layer utilities {
  @keyframes slideFadein {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
}

@layer components {
  .reset-all {
    all: unset;
  }

  .animate-cascata {
    animation: slideFadein 0.8s ease-out forwards; /*faz o elemento ficar na posicao final*/
  }

  .alinhamento {
    @apply flex flex-col items-center;
  }
  /*botoes*/
  .bnt-larg-agendar {
    @apply  
    bg-white text-red-500 w-50 h-10 rounded-full font-bold
      text-base my-4 shadow-lg shadow-white/30 
      
      active:scale-105 duration-200 lg:hover:scale-105
    ;
  }

  .bnt-zap {
    @apply 
      flex justify-center items-center gap-2 h-10 w-[70%] 
      self-center bg-green-500 text-white rounded-full
      text-base my-4 shadow-lg shadow-green-500/30 font-bold

      sm:w-100
      lg:hover:scale-105 duration-300 lg:hover:bg-green-700 active:scale-105
      active:bg-green-700 lg:w-100 lg:col-span-full lg:m-auto lg:my-10
      lg:h-12
    ; 
  }

  .bnt-inscreva {
    @apply
    bg-white h-12 w-42 text-base rounded-sm  ml-4 font-bold
     
    lg:hover:bg-yellow-400 lg:hover:text-white hover:shadow-none
      shadow-sm text-blue-950 shadow-white active:scale-105 duration-200
    active:bg-yellow-400 active:text-blue-950
      active:shadow-none
     ;
  }

  .bnt-comecar {
      @apply 
        bg-blue-500 text-white p-3 w-[80%] mt-3 rounded-2xl
        text-lg shadow-lg shadow-blue-500/50 
        
        transition-transform duration-200 lg:hover:bg-blue-600
        lg:hover:scale-105 active:scale-105 active:bg-blue-600
      ;
    }
  /*Header*/
  .img-introd {
    @apply 
      bg-[url(../img/boxer-destaque.jpg)] 
      bg-cover bg-center;
  }

  .menu {
    @apply 
     absolute top-[80px] bg-slate-950 w-[80vw] py-4 shadow-xl 
     left-1/2 -translate-x-1/2 flex flex-col justify-center 
     items-center font-bold text-white opacity-0 invisible

     lg:visible lg:opacity-100 lg:w-auto lg:h-full lg:shadow-none 
     lg:translate-x-0 lg:static lg:bg-black
    ;
  }

  .menu li {
    @apply 
     mr-auto ml-[40px] my-3
     md:m-0
     ;
  }

  .menu  button {
    @apply 
     active:text-orange-400 active:text-xl
     lg:hover:text-orange-400 hover:text-xl
     transition-all duration-300 ease-in-out;
  }

  .menu span {
    @apply h-px w-[85%] bg-gray-700 block m-auto md:hidden;
  }
  /*icones artes marciais*/ 
   .intro-artes {
    @apply 
      w-[90%] max-w-130 my-10 flex flex-col 
     
     lg:flex-row lg:max-w-full
     lg:h-100 lg:items-center lg:justify-around justify-center 
     ;
  }

  .intro__container {
    @apply 
     my-5 lg:m-0 lg:h-95 flex flex-col justify-start items-center
     w-full
     ;
  }
  
  .container__top {
    @apply flex gap-2  mr-auto;
  }

  .intro-artes img {
    @apply size-15 object-contain;
  }

  .intro-artes strong {
    @apply 
     font-bold text-yellow-400 text-xl col-start-2
    ;
  } 

  .intro-artes ul {
    @apply  my-2 text-sm text-justify list-disc w-[76%] sm:w-[70%] ;
  }

  .intro-artes li {
    @apply my-2;
  }
  /*sobre nos*/
  .about {
    @apply bg-gray-200 w-full px-5 pt-10 pb-5 lg:grid lg:grid-cols-2 
    lg:grid-rows-[auto_auto_auto_auto] lg:justify-items-center;
  }

  .subtitulo-about {
    @apply self-start text-xl mt-5 mb-3 font-bold text-red-600;
  }

  .img-about {
    @apply  
     h-30 w-full rounded-sm bg-[url(../img/img-jiu-jitsu-destaque.jpg)] 
     bg-top bg-cover 
     
     sm:h-50 md:h-60
     lg:h-60 col-end-2 lg:w-full lg:self-start lg:row-span-full
     lg:row-end-2
    ;
  }

  .bg-mestre {
    @apply 
     h-85 w-70 bg-[url(../img/IMG-mestre-fundo-cinza.png)]
     bg-contain bg-no-repeat  
     
     sm:h-105 sm:w-85
     lg:h-110 lg:w-90
    ;
  }

  .galaria-alunos {
    @apply 
    w-full h-55 my-5 overflow-x-auto flex gap-4 shadow-2xl 
    sm:h-85
    lg:h-80;
    scrollbar-width: none;
  }
  
  .galaria-alunos img {
    @apply w-full h-full shrink-0 object-cover;
  }

  .dot {
    @apply 
      size-3  rounded-full border-1 border-red-500 
      cursor-pointer transition-colors block m-1
    ;
   }    

  .dot.active {
    @apply bg-blue-800;
  }

  .aula-free-an {
    @apply h-20 bg-yellow-500 text-white;
  }
  /*planos*/
  .planos {
    @apply w-full;
  }

  .card {
    @apply 
     w-85 rounded-xl p-5 
     justify-center shadow-md bg-white border-1
     lg:w-95 lg:transition-transform lg:duration-300
     lg:ease-in-out  lg:hover:scale-105
    ;
  }

  .planos img {
    @apply size-15;
  }

   .planos strong {
    @apply font-bold text-yellow-500 text-xl;
  }

  .ciflao {
    @apply  text-gray-600 text-3xl;
  }

  .valor {
    @apply text-gray-950 text-3xl;
  }

  .mais-pop {
    @apply 
    bg-amber-400 absolute text-black p-1 px-4 rounded-3xl
    top-[-15px] shadow-xl shadow-amber-300/20
    ;
  }

  .linha {
    @apply h-px w-[80%] block bg-gray-400 my-2;
  }

  .planos ul {
    @apply self-start ml-10;
  }

  .icon-corr {
    @apply flex gap-1;
  }

  .icon-corr img {
    @apply size-5;
  } 
  /*Contato*/
  .contato {
    @apply 
      grid grid-cols-[auto_1fr] grid-rows-2 text-sm gap-x-2 my-3
      lg:my-5;
  }
  .contato div {
    @apply 
      size-10 border-1 border-red-500 rounded-md
      col-end-2 row-span-full lg:size-12
    ;
  }

  .contato img {
    @apply size-[60%];
  }

  .contato strong {
    @apply text-white col-start-2 row-end-2 lg:text-sm;
  }

  .contato p {
    @apply col-start-2 lg:text-lg;
  }

  /*footer*/
  .footer-subtitulo {
    @apply  text-white font-bold pl-1 my-3;
  }

  .footer-list {
    @apply pl-1;
  }

  .footer-list li {
    @apply flex items-center lg:hover:text-yellow-500;
  }

  .footer-list button {
    @apply active:text-yellow-500;
  }

  .footer-list svg {
    @apply size-3 mb-[2px];
  }

  .list-social li {
    @apply 
     size-8 bg-gray-500 rounded-md flex justify-center 
     items-center hover:bg-red-500; 
  }

  .list-social svg {
    @apply text-white;
  }
}
/* Por:jose33-afk */

